body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    scroll-behavior: smooth;
}

nav {
  display: flex;
  background-color: rgb(55, 128, 55);
  justify-content: flex-end; 
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0.1vh 5vh rgba(0, 0, 0, 0.658);
}

nav a {
  color: white;  
  text-decoration: none; 
  height: 5vh;
  width: 10vh;
  border-radius: 6vh;
  background-color: rgb(55, 128, 55);
  display: flex;
  justify-content: center;
  align-items: center;       
  margin-right: 5vh;
  margin-top: 4vh;
  margin-bottom: 5vh;
  cursor: pointer;
  transition: 0.3s;
}

nav a:visited {
  color: rgba(0, 0, 0, 0.603);    
}

nav a:hover {
  background-color: white;
  border:rgb(55, 128, 55);
  color: rgb(55, 128, 55);  
}

nav a:active {
  color: rgba(0, 0, 0, 0.603);         
}

.report{
  margin-right: 7vh;
}

#home{
  margin-top: 30vh;
}

section {
    text-align: center;
    margin-top: 10vh;
    color: rgba(0, 0, 0, 0.651);
}

h3{
  color: rgba(0, 0, 0, 0.295);
}

p {
    text-align: center;
    margin-top: 5vh;
    color: rgba(0, 0, 0, 0.5);
    font-size: 2vh;
}

#footer{
  margin-top: 15vh;
  padding-top: 5vh;
  background-color: rgb(55, 128, 55);
  width: 100%;
}

.images{
  display: flex;
  justify-content: center; 
  gap: 20px; 
}

.albict{
  margin-top: 1vh;
  margin-right: 5vh;
  height: 15vh;
  width: 25vh;
}

.bashkia{
  height: 13vh;
  width: 35vh;
}

.climate{
  margin-top: 3vh;
  margin-bottom: 10vh;
  margin-left: 3vh;
  height: 10vh;
  width: 25vh;
}

.footer-title{
  color: rgba(255, 255, 255, 0.897);
  margin-bottom: 10vh;
}