<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Noisewatch</title>
</head>
<body>
    <nav>
        <a class="logo" href="/" style="pointer-events: none;"></a>
        <a href="/">Kreu</a>
        <a href="/about">Rreth Nesh</a>
        <a href="/services">Shërbimet</a>
        <a href="/map">Harta</a>
        <a href="/report">Raporto</a>
        <a class="al" href="/" title="Shqip"></a>
        <a class="en" href="/en" title="English"></a>
    </nav>

    <section id="home">
        <h1>Mirë se vini në Noisewatch</h1>
        <h3>____________________________________________________________________________________________________________________</h3>
        <p>
            Mirë se vini në një hapësirë ku zëri i qytetit dëgjohet ndryshe.
            Tirana është një qytet plot jetë, energji dhe lëvizje,
            por kjo gjallëri shpesh fshihet pas një problemi të padukshëm: zhurmës.<br>
            Trafiku i rënduar, ndërtimet dhe muzika e lartë e lokaleve
            krijojnë ndotje akustike që prek jo vetëm veshët,
            por edhe shëndetin dhe qetësinë tonë.<br>
            Këtu fillon ndryshimi, një platformë e re ku
            çdo qytetar mund të informohet, të kontribuojë
            dhe të kuptojë më mirë ndikimin e zhurmës në jetën e përditshme.
        </p>
    </section>

    <section id="about">
        <h2>Rreth Nesh</h2>
        <h3>____________________________________________________________________________________________________________________</h3>
        <p>
            Ne jemi një grup profesionistësh, aktivistësh dhe qytetarësh të angazhuar që besojnë se çdo zë ka rëndësi - dhe çdo zhurmë ka ndikim. 
            Noisewatch është krijuar si një platformë bashkëkohore <br>që sjell teknologjinë dhe ndërgjegjësimin qytetar në funksion të një qëllimi të përbashkët:  
            një qytet më i qetë, më i shëndetshëm dhe më i jetueshëm.<br>
            Inspirimi ynë lind nga realiteti i përditshëm i Tiranës - një qytet në zhvillim të vazhdueshëm, por edhe në sfidë me ndotjen akustike që shpesh neglizhohet.<br> 
            Ekipi ynë punon për të sjellë të dhëna të besueshme, për të informuar publikun dhe për të inkurajuar pjesëmarrjen aktive të komunitetit në identifikimin 
            dhe zgjidhjen e problemeve me zhurmën urbane.
        </p>
    </section>

    <section id="services">
        <h2>Shërbimet Tona</h2>
        <h3>____________________________________________________________________________________________________________________</h3>
        <p>
        Platforma jonë u jep mundësinë të gjithëve të marrin pjesë në monitorimin e zhurmës në Tiranë.
        Nëpërmjet hartës interaktive, ju mund të shihni nivelin e zhurmës në çdo zonë të qytetit:<br>

        🟩 E gjelbër - zona të qeta, ideale për pushim ose shëtitje<br>
        🟨 E verdhë - zhurmë mesatare, e tolerueshme<br>
        🟧 Portokalli - zhurmë e lartë që kërkon kujdes<br>
        🟥 E kuqe - zhurmë shumë e lartë dhe e dëmshme për shëndetin<br>

        Duke klikuar mbi një vend, shfaqen të dhëna si ora e matjes, burimi i zhurmës, intensiteti në decibel dhe raportimet e banorëve.<br>
        Çdokush mund të shtojë një raport të ri. Sa më shumë dëgjime të kemi, aq më e saktë bëhet harta jonë.
        </p>
    </section>


  <section id="contact">
    <h2>Kontakt</h2>
    <h3>____________________________________________________________________________________________________________________</h3>
    <p>
    Ky projekt është më shumë se një faqe interneti. Ai është një thirrje për ndërgjegjësim dhe bashkëpunim qytetar.
    Nëse dëshiron të kontribuosh, të raportosh zhurma ose <br>të ndihmosh që Tirana të bëhet një qytet më i qetë, na kontakto:<br>

    Na dërgoni një email: <b>noisewatchal@gmail.com</b><br>

    Qetësia nuk është privilegj, është e drejtë njerëzore.
    Le ta kthejmë Tiranën në një qytet ku dëgjohet më shumë zëri i njeriut dhe më pak zhurma e makinës.
    </p>
  </section>

  <section id="footer">
    <h2 class="footer-title">Collaborators</h2>
    <div class="images">
    <img class="albict" src="/images/ALBICT logo.png" alt="">
    <img class="bashkia" src="/images/Bashkia Tirane.png" alt="">
    <img class="climate" src="/images/BP_Youth_Climate_Action_Fund_Logo_Options_040824_V1_FNL_YCAF-Logo-with-Tagline-as-Outlined-Text-White.png" alt="">
    </div>
  </section>

</body>
</html>