<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Map - Noisewatch Tirana</title>
</head>
<body>
    <nav>
        <a class="logo" href="/en"></a>
        <a href="/en">Home</a>
        <a href="/en/about">About Us</a>
        <a href="/en/services">Services</a>
        <a href="/en/map">Map</a>
        <a href="/en/report">Report</a>
        <a class="al" href="/map" title="Albanian"></a>
        <a class="en" href="/en/map" title="English"></a>
    </nav>

    <main class="map-container">
        <div id="googleMap"></div>
        <button class="report-button" onclick="window.location.href='/en/report'">Report Commotion</button>
    </main>

    <script src="/js/maplogic.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBL-1ScqRSE8y09moL0NHF49JkpK_Grhf4&libraries=visualization&callback=initMap"></script>
</body>
</html>

