body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    scroll-behavior: smooth;
}

nav {
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end; 
  gap: 20px; 
}

nav a {
  color: rgba(0, 0, 0, 0.603);          
  text-decoration: none; 
  display: flex;
  flex-direction: row;
  margin-right: 2vh;
  margin-top: 3vh;
  margin-bottom: 5vh;
}

nav a:visited {
  color: rgba(0, 0, 0, 0.603);    
}

nav a:hover {
  color: rgba(0, 0, 0, 0.603);  
}

nav a:active {
  color: rgba(0, 0, 0, 0.603);         
}

section {
    text-align: center;
    margin-top: 10vh;
}

p {
    text-align: center;
    margin-top: 5vh;
    color: rgba(0, 0, 0, 0.603);
    font-size: 2vh;
}

#footer{
  margin-top: 15vh;
}

.images{
  display: flex;
  justify-content: center; 
  gap: 20px; 
}

.albict{
  margin-top: 2vh;
  margin-right: 5vh;
  height: 15vh;
  width: 25vh;
}

.bashkia{
  width: 17vh;
}

.climate{
  margin-top: 3.8vh;
  margin-left: 3vh;
  height: 10vh;
  width: 25vh;
}